body[b-d26z3iye7j] {
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
  .flex.h-screen[b-d26z3iye7j] {
      flex-direction: column;
  }
}

/* Responsive font sizes */
@media (max-width: 600px) {
    body[b-d26z3iye7j] {
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    body[b-d26z3iye7j] {
        font-size: 16px;
    }
}

/* Search input responsive adjustments */
.search-input[b-d26z3iye7j] {
    width: 100%; /* Full width on smaller screens */
    margin-bottom: 1rem; /* Add some space below on smaller screens */
}

@media (min-width: 768px) {
    .search-input[b-d26z3iye7j] {
        width: auto; /* Auto width on larger screens */
        margin-bottom: 0; /* No space below on larger screens */
    }
}

/* Hide the username text on smaller screens */
@media (max-width: 768px) {
    .username[b-d26z3iye7j] {
        display: none;
    }
}

/* Show the user icon only on smaller screens */
@media (min-width: 768px) {
    .user-icon[b-d26z3iye7j] {
        display: none;
    }
}
