body[b-d26z3iye7j] {
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
  .flex.h-screen[b-d26z3iye7j] {
      flex-direction: column;
  }
}


@media (max-width: 600px) {
    body[b-d26z3iye7j] {
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    body[b-d26z3iye7j] {
        font-size: 16px;
    }
}


@media (max-width: 768px) {
    .username[b-d26z3iye7j] {
        display: none;
    }
}


@media (min-width: 768px) {
    .user-icon[b-d26z3iye7j] {
        display: none;
    }
}
