
body[b-scn9hqgkc0] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #fff; 
    background-color: #1a1a1a; 
}


.table[b-scn9hqgkc0] {
    width: 100%;
    border-collapse: collapse; 
    background-color: #2c3e50; 
}

    
    .table thead th[b-scn9hqgkc0] {
        background-color: #34495e; 
        color: white;
        padding: 1em;
        text-align: left;
    }

    
    .table tbody td[b-scn9hqgkc0] {
        padding: 1em;
        text-align: left;
        vertical-align: middle;
        border-bottom: 1px solid #3f5765; 
        color: #d1d1d1; 
    }


.table[b-scn9hqgkc0] {
    overflow: hidden; 
}

    
    .table tbody tr:hover[b-scn9hqgkc0] {
        background-color: #3d5464; 
    }


.btn[b-scn9hqgkc0] {
    padding: 0.5em 1em;
    margin-right: 0.3em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 0.8em;
    transition: background-color 0.3s ease;
}

.btn-info[b-scn9hqgkc0] {
    background-color: #5bc0de; 
}

.btn-danger[b-scn9hqgkc0] {
    background-color: #d9534f; 
}

.btn-info:hover[b-scn9hqgkc0], .btn-info:focus[b-scn9hqgkc0] {
    background-color: #46b8da; 
}

.btn-danger:hover[b-scn9hqgkc0], .btn-danger:focus[b-scn9hqgkc0] {
    background-color: #c9302c; 
}


@media screen and (max-width: 768px) {
    .table thead[b-scn9hqgkc0] {
        display: none;
    }

    .table[b-scn9hqgkc0], .table tbody[b-scn9hqgkc0], .table tr[b-scn9hqgkc0], .table td[b-scn9hqgkc0] {
        display: block;
        width: 100%;
    }

        .table tbody td[b-scn9hqgkc0] {
            text-align: right;
            padding-left: 50%;
            position: relative;
        }

            .table tbody td[b-scn9hqgkc0]::before {
                content: attr(data-label);
                position: absolute;
                left: 0;
                width: 50%;
                padding-left: 1em;
                padding-right: 1em;
                text-align: left;
                font-weight: bold;
                color: #d1d1d1;
            }
}


.fab-container[b-scn9hqgkc0] {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1050;
}

.fab[b-scn9hqgkc0] {
    background-color: #3078F0;
    color: white;
    border-radius: 50%;
    padding: 0;
    width: 56px;
    height: 56px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .fab:hover[b-scn9hqgkc0] {
        background-color: #205dcf;
    }

.fab-icon[b-scn9hqgkc0] {
    font-size: 24px;
}

.modal[b-scn9hqgkc0] {
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1050; 
    background-color: rgba(0, 0, 0, 0.6); 
}

.modal-content[b-scn9hqgkc0] {
    position: relative; 
    background-color: #2c3e50; 
    padding: 40px; 
    padding-top: 40px; 
    border: 1px solid #4a5e70; 
    border-radius: 0.8em; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: auto;
    max-width: 500px; 
    box-sizing: border-box; 
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.close[b-scn9hqgkc0] {
    color: #aaa;
    position: absolute;
    top: 10px; 
    right: 10px; 
    font-size: 28px;
    font-weight: bold;
}

    .close:hover[b-scn9hqgkc0],
    .close:focus[b-scn9hqgkc0] {
        color: #ddd; 
        cursor: pointer;
        text-decoration: none;
    }

@media (min-height: 600px) {
    .modal-content[b-scn9hqgkc0] {
        max-height: 80%; 
    }
}



input[type="text"][b-scn9hqgkc0], select[b-scn9hqgkc0] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #333; 
    background-color: #fff; 
}


input[b-scn9hqgkc0]::placeholder {
    color: #888; 
}


button[b-scn9hqgkc0] {
    background-color: #4CAF50; 
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem; 
}

    button:hover[b-scn9hqgkc0] {
        background-color: #45a049; 
    }
